.truncate-2-line {
  height: 50px;
  padding: 0px 5px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-align: justify;
  background: #f0f0f0;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 25px;
  -webkit-line-clamp: 2;
}

.product-item-content {
  width: calc(100% - 240px);
}

.product-image-gradient {
  background: linear-gradient(
    180deg,
    rgba(44, 44, 44, 0) 0%,
    rgba(44, 44, 44, 0.8) 100%
  );
}
