.truncate-2-line {
  height: 50px;
  padding: 0px 5px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-align: justify;
  background: #f0f0f0;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 25px;
  -webkit-line-clamp: 2;
}

.product-preview-image {
  display: block;
  width: 240px;
  height: 248px;
  overflow: hidden;
}

.product-item-content {
  width: calc(100% - 240px);
}
